body {
    background: rgb(66, 10, 119);
    color: rgb(15, 233, 113);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
    background: rgb(20, 207, 67)
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: lime;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #139ac4;
}

/* main container area beneath menu */
main {
    background: rgb(40, 4, 82);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 300px;
}
.content {
    flex: 1;
    padding; 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(224, 42, 67) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
} /* portfolio styles */
.content h1 {
    color: lime;
}


#portfolio {
    list-style-type: none;
    padding-left: 0;
}


#portfolio li {
    background: #780adf17;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}


#portfolio li:hover {
    background: #c813e0;
}


#portfolio a {
    text-decoration: none;
    color: lime;
