
body {
  background-color: turquoise;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid seashell;
  background-color: cyan;
  position: relative;
}

#walker {
  background-color: coral;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
