
body {
  background-color: rgb(81, 7, 129);
}

#board {
  width: 440px;
  height: 440px;
  border: 2.5px solid rgb(224, 47, 67);
  background-color: rgb(7, 18, 173);
}

#score, #highScore {
  color: rgb(0, 255, 0);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(172, 17, 159);
  z-index: 2;
}

#snake-head {
  background-color: rgb(223, 9, 152);
}

.apple {
  background-color: rgb(255, 251, 0);
  z-index: 1;
}