
body {
  background-color: rgb(54, 14, 161);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(10, 151, 233);
  background-color: rgb(35, 255, 6);
}

#score, #highScore {
  color: rgb(247, 0, 255);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(123, 17, 155);
  z-index: 2;
}

#snake-head {
  background-color: rgb(129, 12, 114);
}

.apple {
  background-color: rgb(243, 5, 5);
  z-index: 1;
}