
body {
  background-color: rgb(28, 6, 90);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(10, 233, 185);
  background-color: rgb(179, 17, 143);
}

#score, #highScore {
  color: rgb(31, 153, 27);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(95, 11, 121);
  z-index: 2;
}

#snake-head {
  background-color: rgb(197, 18, 167);
}

.apple {
  background-color: rgb(9, 255, 0);
  z-index: 1;
}